# WebSocket
websockets
pydantic  # Data validation

# Database
SQLAlchemy

# Logging
structlog

# Config
python-dotenv
PyYAML

# Testing
pytest
pytest-asyncio
pytest-mock

# Documentation
pdoc

# Data Processing
TA-Lib
numpy
